<h4 mat-dialog-title>
    <mat-icon  *ngIf="aircraft.isMoving" > airplanemode_active </mat-icon>
    <mat-icon *ngIf="!aircraft.isMoving" > airplanemode_inactive </mat-icon>
    # {{ aircraft.id }}
</h4>

<mat-dialog-content>
 


    <div *ngIf="aircraft.isMoving">

        <h4 mat-subheader>Flight Data</h4>
        <div class="row">
            <div class="col-6 maintitle">
                Flight number </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.flightNum}}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                From IATA </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.from.iata }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                Departue </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.start |date:'short' }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                From Country </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.from.country }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                From Airport Name  </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.from.title }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                To IATA </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.to.iata }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                Arrival </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.stop |date:'short' }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                From Country </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.to.country }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 maintitle">
                From Title </div>
            <div class="col-6 subinfo">
                {{aircraft.flightInfo.to.title }}
            </div>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions>


    <button mat-icon-button color="accent">
        <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-icon-button color="warn" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>