<mat-dialog-content>

    <mat-selection-list>
        <mat-list-option selected>
            <!-- <mat-icon matTooltip="Flight mode"> airplanemode_active </mat-icon> -->
            Show Only Air Plane
        </mat-list-option>
        <mat-list-option selected>
            <!-- <mat-icon matTooltip="Not Flight mode"> airplanemode_inactive </mat-icon> -->
            Show Only Earth Plane
        </mat-list-option>


    </mat-selection-list>


</mat-dialog-content>

<mat-dialog-actions>


    <button mat-icon-button color="warn" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>