<div class="container" style="margin-top: 10px;">


    <div class="row" class="top-header">

        <div class="col-1">

          
            <button mat-mini-fab class="box menu" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
                <button mat-menu-item  [routerLink]="['/']" >
                    <mat-icon>airplanemode_active</mat-icon>
                    <span>Map </span>
                </button>
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Table</span>
                </button>
                <button mat-menu-item  >
                    <mat-icon>email</mat-icon>
                    <span>Statistic</span>
                </button>
              
            </mat-menu>

        </div>
  

    </div>

    <router-outlet>
    </router-outlet>

</div>

