<app-loader *ngIf="loader"> </app-loader>

<div class="row find">
    <div class="col-12 col-md-10">
        <input *ngIf="showSearch" matInput (keyup)="keyup($event)" 
        [formControl]="myControl" type="text"
            class="form-control box" placeholder="Find plane by  plane id  " [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
            <mat-option *ngFor="let option of aircaftsFiltered | async  as Aircraft" [value]="option.id">
            
                <mat-icon *ngIf="option.isMoving" > airplanemode_active </mat-icon  >
                <mat-icon *ngIf="!option.isMoving" > airplanemode_inactive </mat-icon>
                
                 {{ option.id }} <small>flight number</small>
                <b>{{ option.flightNum }}</b>
            </mat-option>
        </mat-autocomplete>
   
    </div>



    <div class="col-12 col-md-2 extra">
        <button mat-mini-fab class="box search" color="primary" (click)="toogleSearch()">
            <mat-icon *ngIf="showSearch">close</mat-icon>
            <mat-icon *ngIf="!showSearch">search</mat-icon>
        </button>
        <button *ngIf="showSearch" (click)="openSettings()" style="margin-left: 5px;" mat-mini-fab class="box search"
            color="primary">
            <mat-icon>settings</mat-icon>

        </button>
    </div>

</div>



<button mat-fab color="warn" (click)="toPdf()" class="bottom bottom-right" >
    <mat-icon >picture_as_pdf</mat-icon>
</button>

<div #mapContainer id="map"></div>